language: csharp
os: linux
mono: none
dist: xenial
dotnet: 3.1.406
solution: BookSharing.sln

install:
  - dotnet restore
  
script:
  - dotnet build
  
notifications:
  slack:
    rooms:
      - aistrainee2020:ihDiPwthejNnbu8jEGUWOykY#projects_book-sharing
